<a href="https://colab.research.google.com/github/ShakilM26/Data-Cleaning-Practice/blob/main/PMDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv('cinema.csv')
df.head()

,Year,Name,Director,Genre,IMDB,Rotten Tomatoes,Metacritic,Country,Personal Rating,Comics,Animation,TV_Series,Budget,Box_office,Runtime,Google_user,Month
0,2020,Tenet,Christopher nolan,Sci-fi/Action,7.4,69,69,USA,7.5,no,no,no,200.0,363.0,150,85,January
1,2020,WW84,Patty Jenkins,Superhero/Action,5.4,58,60,USA,5.0,yes,no,no,200.0,167.0,151,67,January
2,2012,Django Unchained,Quentin Tarantino,Western/Action,8.4,87,81,USA,8.5,no,no,no,100.0,425.0,165,93,January
3,2020,Onward,Dan Scanlon,Animation/Family,7.4,88,61,USA,7.0,no,yes,no,185.0,142.0,102,81,January
4,2019,Polar,Jonas Åkerlund,Action/Thriller,6.3,19,19,USA,6.0,no,no,no,0.0,0.0,118,77,January

In [ ]:
#check null value

df.isnull().sum()

Year               0
Name               0
Director           0
Genre              0
IMDB               0
Rotten Tomatoes    0
Metacritic         0
Country            0
Personal Rating    0
Comics             0
Animation          0
TV_Series          0
Budget             0
Box_office         0
Runtime            0
Google_user        0
Month              0
dtype: int64

In [ ]:
#check notnull value

df.notnull().sum()

Year               220
Name               220
Director           220
Genre              220
IMDB               220
Rotten Tomatoes    220
Metacritic         220
Country            220
Personal Rating    220
Comics             220
Animation          220
TV_Series          220
Budget             220
Box_office         220
Runtime            220
Google_user        220
Month              220
dtype: int64

In [ ]:
# Find specific columns null value

df['Year'].isnull().sum()

0

In [ ]:
# If there was any null value

df.dropna(axis=1, how='any').shape

(220, 17)

In [ ]:
# How many movies have I seen
# 1st method

len(df[df['TV_Series']=='no'])

206

In [ ]:
# 2nd method

len(df[df['TV_Series'].str.contains('no')])

206

In [ ]:
# How many tv_series have I seen

len(df[df['TV_Series']=='yes'])

14

In [ ]:
# How many animation have I seen

len(df[df['Animation']=='yes'])

27

In [ ]:
# How many animation movies have I seen 

len(df[(df['TV_Series']=='no') & (df['Animation']=='yes')])

26

In [ ]:
# The answer is 26. Total animation result was 27. So  
# I can say there is one tv-series animation I have seen.

In [ ]:
# Here it is 

df.loc[(df['TV_Series']=='yes') & (df['Animation']=='yes')]

,Year,Name,Director,Genre,IMDB,Rotten Tomatoes,Metacritic,Country,Personal Rating,Comics,Animation,TV_Series,Budget,Box_office,Runtime,Google_user,Month
173,2021,What...If?,Bryan Andrews,Superhero/Action,7.5,94,69,USA,7.5,yes,yes,yes,0.0,0.0,30-37,88,November

In [ ]:
# How many comics related movies have I seen 

len(df[(df['TV_Series']=='no') & (df['Comics']=='yes')])

19

In [ ]:
# How many comics related tv-series have I seen 

len(df[(df['TV_Series']=='yes') & (df['Comics']=='yes')])

4

In [ ]:
# How many comics related animation have I seen 

len(df[(df['Animation']=='yes') & (df['Comics']=='yes')])

16

In [ ]:
# Total comics related movies and tv-series 

len(df[df['Comics'].str.contains('yes')])

23

In [ ]:
# Here I have split my dataset into two parts. Before and after 2000.

after_2000 = len(df[df['Year']>=2000])
before_2000 = len(df[df['Year']<2000])
print(after_2000)
print(before_2000)

180
40

In [ ]:
x=df.iloc[150: 160, :]
x

,Year,Name,Director,Genre,IMDB,Rotten Tomatoes,Metacritic,Country,Personal Rating,Comics,Animation,TV_Series,Budget,Box_office,Runtime,Google_user,Month
150,2021,Kuruthi,Manu Warrier,Crime/Thriller,7.7,0,0,India,7.5,no,no,no,4.5,0.0,122,78,September
151,2008,Step brothers,Adam McKay,Comedy,6.9,55,51,USA,6.5,no,no,no,65.0,128.0,98,89,October
152,2015,The Hateful Eight,Quentin Tarantino,Western/Action,7.8,74,68,USA,7.5,no,no,no,55.0,157.0,187,89,October
153,2021,Free Guy,Shawn Levy,Action/Adventure,7.2,80,62,USA,7.0,no,no,no,110.0,332.0,115,89,October
154,2020,Paranormal,"Amr Salama, Majid Al Ansari",Drama/Supernatural,8.5,96,0,Egypt,8.0,no,no,yes,0.0,0.0,46-55,86,October
155,1988,Die Hard,John McTiernan,Action/Thriller,8.2,94,72,USA,8.5,no,no,no,30.0,140.0,132,91,October
156,1990,Die Hard 2,Renny Harlin,Action/Thriller,7.1,69,67,USA,7.5,no,no,no,65.0,240.0,124,92,October
157,2001,Vanilla Sky,Cameron Crowe,Sci-fi/Thriller,6.9,42,45,USA,6.5,no,no,no,68.0,203.0,137,81,October
158,2012,Seven Psycopath,Martin McDonagh,Comedy/Crime,7.2,83,66,UK,7.0,no,no,no,14.0,33.0,110,84,October
159,1986,The name of the Rose,Jean-Jacques Annaud,Mystery/Crime,7.7,74,54,Italy,7.0,no,no,no,17.5,77.0,131,85,October

In [ ]:
# Highest Rating of IMDB
# ? 

df[['IMDB', 'Name']].sort_values(by='IMDB', ascending=False).head()

     IMDB               Name
25    8.8               Dark
89    8.6  Kumbalangi Nights
50    8.6         Drishyam 2
219   8.6         Mindhunter
212   8.5            Mandela

In [ ]:
# How many movies got 'Rotten Tomatoes 100'

df[df['Rotten Tomatoes']==100].count()[1]

9

In [ ]:
df[df['Rotten Tomatoes']==100][["Name"]]

                                   Name
55            Superman: Man of Tomorrow
98                      Batman Vs Robin
108                          Bad Genius
124   Batman: The Long Halloween Part 1
125    Batman: The Long Hallowin Part 2
133  Justice League Dark: Apokolips War
182                      Cool Hand Luke
205                       A Man Escaped
210                                   M

In [ ]:
# Highest Rotten Tomatoes Rating
# 2nd method

df[['Rotten Tomatoes', 'Name']].sort_values(by='Rotten Tomatoes', ascending=False).head(10)

     Rotten Tomatoes                                Name
133              100  Justice League Dark: Apokolips War
98               100                     Batman Vs Robin
55               100           Superman: Man of Tomorrow
210              100                                   M
125              100    Batman: The Long Hallowin Part 2
205              100                       A Man Escaped
124              100   Batman: The Long Halloween Part 1
108              100                          Bad Genius
182              100                      Cool Hand Luke
44                99                         The Wailing

In [ ]:
# I wanted to sort the movies that got 100 ratings according to the first letter of the name

df.sort_values(['Rotten Tomatoes', 'Name'], ascending=[False, True]).head(10)

,Year,Name,Director,Genre,IMDB,Rotten Tomatoes,Metacritic,Country,Personal Rating,Comics,Animation,TV_Series,Budget,Box_office,Runtime,Google_user,Month
205,1956,A Man Escaped,Robert Bresson,War/Prison-Break,8.3,100,0,France,8.0,no,no,no,0.0,0.0,99,90,December
108,2017,Bad Genius,Nattawut Poonpiriya,Thriller/Heist,7.6,100,0,Thailand,8.0,no,no,no,9.0,42.0,130,94,August
98,2015,Batman Vs Robin,Jay Oliva,Action/Adventure,7.1,100,50,USA,7.0,yes,yes,no,0.0,0.0,80,86,July
124,2021,Batman: The Long Halloween Part 1,Chris Palmer,Superhero/Action,7.3,100,0,USA,7.0,yes,yes,no,0.0,0.0,85,83,August
125,2021,Batman: The Long Hallowin Part 2,Chris Palmer,Superhero/Action,7.2,100,0,USA,7.5,yes,yes,no,0.0,0.0,87,80,September
182,1967,Cool Hand Luke,Stuart Rosenberg,Drama/Prison-Break,8.1,100,92,USA,8.0,no,no,no,3.2,16.0,126,87,November
133,2020,Justice League Dark: Apokolips War,"Christina Sotta, Matt Peters",Superhero/Action,7.8,100,0,USA,7.5,yes,yes,no,0.0,0.0,90,72,September
210,1931,M,Fritz Lang,Thriller/Crime,8.3,100,0,Germany,8.5,no,no,no,0.0,0.0,111,47,December
55,2020,Superman: Man of Tomorrow,Chris Palmer,Action/Adventure,6.4,100,81,USA,7.0,yes,yes,no,0.0,0.0,86,73,May
44,2016,The Wailing,Na Hong-jin,Horror,7.5,99,81,Korean,7.0,no,no,no,8.0,51.0,156,84,April

In [ ]:
# Highest Metacritic Rating

df[['Metacritic', 'Name']].sort_values(by='Metacritic', ascending=False).head(10)

     Metacritic                     Name
29           99  The night of the hunter
71           96              Ratatouille
209          95       The Social Network
187          94    The French Connection
182          92           Cool Hand Luke
81           92               Annie Hall
32           91   No country for old man
120          91                      Her
74           90       Mad Max: Fury Road
171          89                    Alien

In [ ]:
# Specific Data Find
# How many Christopher Nolan movies did I watch last year?

df.loc[df['Director'] == 'Christopher nolan']
df[df['Director'].str.contains('Christopher nolan')]

,Year,Name,Director,Genre,IMDB,Rotten Tomatoes,Metacritic,Country,Personal Rating,Comics,Animation,TV_Series,Budget,Box_office,Runtime,Google_user,Month
0,2020,Tenet,Christopher nolan,Sci-fi/Action,7.4,69,69,USA,7.5,no,no,no,200.0,363.0,150,85,January
88,2002,Insomnia,Christopher nolan,Thriller/Drama,7.2,92,78,USA,7.0,no,no,no,46.0,114.0,118,92,June
105,1998,Following,Christopher nolan,Thriller/Crime,7.5,81,60,UK,7.0,no,no,no,6.0,48.0,70,82,July

In [ ]:
# I didn't get some movie Rotten Tomatoes rating, instead I put it at zero. 
# How many movies have I given such a zero?

len(df[df['Rotten Tomatoes']==0])

14

In [ ]:
# Also It happened with Metacritic.

len(df[df['Metacritic']==0])

32